* {
    box-sizing: border-box;
}
body {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 6rem;
    padding-bottom: 6rem;

  font-family: 'Rubik', sans-serif;
  
  font-size: 18px; 
}

h1 {
  color: white;
  font-size: clamp(1.5rem, 5vw, 2rem); 
}

.header-section {
    height: 35vh; 
    min-height: 280px;
    background-image: url('./images/pattern-bg-desktop.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    position: relative;
    z-index: 2;
}

.info-card {
  background: white;
  border-radius: 15px;
  padding: 30px;
  
  position: absolute;
  top: 100%;            
  left: 50%;          
  transform: translate(-50%, -50%);
  
  z-index: 1000;       
  display: flex;        
  width: 80%;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.info-item {
  flex: 1;
  padding: 0 25px;
  border-right: 1px solid rgba(0,0,0,0.1); 
}

#search-input {
  border-radius: 15px 0 0 15px; 
  border: none;
  width: 400px;
}

.info-item-last {
  flex: 1;
  padding: 0 25px;
}

.search-container {
    height: 40vh;
      box-sizing: border-box; 

      align-items: center;   
  justify-content: flex-start; 

  display: flex;
  flex-direction: column;
  justify-content: center;
  border:5px solid red;
}

.search-button {
  background-color: black;
  color: white;
  padding: 15px 20px;
  border-radius: 0 15px 15px 0;
}

#map {
    height: 75vh;
    width: 100%;
}

#error-overlay {
  transition: opacity 0.2s ease-in-out;
}

.hidden {
  display: none !important; 
}