
body {
    padding-top: 20vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
    padding-right: 5vh;
  font-family: 'Rubik', sans-serif;
  font-size: clamp(6px, 1vw + .05rem, 12px); 
}

.header-section {
  height: 35vh;
  background-image: url('./images/pattern-bg-desktop.png');
  background-size: cover;
  text-align: center;
  position: relative;
  padding: .15rem;
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.1);

}

#title {
    height: 3vh;
    font-weight: 100;
    color: white;
    padding-bottom: 1rem;
}

.info-card {
  box-sizing: border-box;
  background: white;
  border-radius: 15px;
  position: absolute;
  padding-left: 5rem;
  padding-top: .3rem;
  margin: .2rem;
  top: 50%;            
  left: 50%;          
  transform: translate(-50%, -15%);
  height: 21vh;
  z-index: 1000;       
  display: flex; 
  flex-direction: row;
  flex-shrink: 0;
  width: 65%;
  overflow: hidden;
}

h3 {
  overflow-wrap: wrap;
  white-space: normal;
  margin-bottom: 10px;
}

.info-item {
    width: 100%;
    justify-content: space-evenly;
}

.info-item p {
    font-weight: 100;
    color: gray;
}

.search-container {
  height: 1rem;
  display: flex;
  justify-content: center;
}

#search-input {
  margin-bottom: 2rem;
  padding: 15px;
  border-radius: 15px 0 0 15px; 
  border: 55px;
  width: 400px;
}

.search-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: .70rem;
  background-color: black;
  color: white;
  padding: 13px 20px;
  border-radius: 0 15px 15px 0;
}

#map {
    height: 70vh;
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.1);

}

#error-overlay {
  color: red;
  transition: opacity 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: bold;
  z-index: 2000;
}

.hidden {
  display: none !important; 
}

.line {
    border-left: 1px solid lightgray;
    height: 60%;
    align-self: center;
    margin: 0 1rem;
}

/* MOBILE STYLES */
@media (max-width: 768px) {
.header-section {
    height: 20vh;
    background-image: url('./images/pattern-bg-mobile.png');
    padding: 2rem 1rem;
  }

  #search-input {
    width: 80vw;
    font-size: small;
  }

  .info-card {
    flex-direction: column; 
    align-items: center;
    text-align: center;
    height: auto;
    width: 55%;
    padding: 1rem 2rem;
    top: 100%; 
    transform: translate(-50%, -100%);
    font-size: small
  }

  .line {
    display: none;
  }

  .info-item p {
    font-size: 10px;
    margin-bottom: 5px;
  }

  h3 {
    font-size: .8rem;
    margin: 0;
  }

  #title {
    font-size: 1rem;
  }

  #error-overlay {
    transition: opacity 0.2s ease-in-out;
    font-size: 1rem;
    z-index: 2000;
  }


}