
body {
    padding-top: 20vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
    padding-right: 5vh;
  font-family: 'Rubik', sans-serif;
  font-size: clamp(6px, 1vw + .05rem, 12px); 
}

.header-section {
  height: 35vh;
  background-image: url('./images/pattern-bg-desktop.png');
  background-size: cover;
  text-align: center;
  position: relative;
  padding: .15rem;
}

#title {
    height: 3vh;
    font-weight: 100;
    color: white;
    padding-bottom: 1rem;
}

.info-card {
  box-sizing: border-box;
  background: white;
  border-radius: 15px;
  position: absolute;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: .3rem;
  margin: .2rem;
  top: 50%;            
  left: 50%;          
  transform: translate(-50%, -15%);
  height: 20vh;
  z-index: 1000;       
  display: flex; 
  flex-direction: row;
  flex-shrink: 0;
  width: 70%;
  overflow: hidden;
}

h3 {
  overflow-wrap: wrap;
  white-space: normal;
  margin-bottom: 10px;
}

.info-item {
    height: 50%;
    width: 100%;
    justify-content: space-evenly;
}

.info-item p {
    font-weight: 100;
    color: gray;
}

.search-container {
  height: 1rem;
  display: flex;
  justify-content: center;
}

#search-input {
  margin-bottom: 2rem;
  padding: 15px;
  border-radius: 15px 0 0 15px; 
  border: 55px;
  width: 400px;
}

.search-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: .70rem;
  background-color: black;
  color: white;
  padding: 13px 20px;
  border-radius: 0 15px 15px 0;
}

#map {
    height: 70vh;
}

#error-overlay {
  transition: opacity 0.2s ease-in-out;
}

.hidden {
  display: none !important; 
}