.header-section {
  height: 300px;
  background-image: url('./images/pattern-bg-desktop.png');
  background-size: cover;
  text-align: center;
  padding-top: 20px;
  position: relative;
}
.info-card {
  background: white;
  border-radius: 15px;
  padding: 30px;
  
  position: absolute;
  top: 100%;            
  left: 50%;          
  transform: translate(-50%, -50%);
  
  z-index: 1000;       
  display: flex;        
  width: 80%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.search-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#search-input {
  padding: 15px;
  border-radius: 15px 0 0 15px; 
  border: none;
  width: 400px;
}

#search-btn {
  background-color: black;
  color: white;
  padding: 15px 20px;
  border-radius: 0 15px 15px 0;
}

#map {
    height: 180px;
}